*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: #ececec;
}


.topo{
    background: #0d47a1;
    color: white;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 15px 30px;
}

.logo{
    font-weight: bold;
}

.logo img{
    width: 100px;
    height: auto;
}

/* MENU */

.menu{
    background: #1976d2;
    padding: 12px 30px;
    display: flex;
    gap: 15px;
}

.menu a{
    color: white;
    text-decoration: none;
    padding: 10px 16px;
    border-radius: 5px;
    transition: 0.3s;
    font-size: 14px;
}

.menu a:hover{
    background: rgba(255,255,255,0.2);
}

.ativo{
    background: rgba(255,255,255,0.25);
}

/* CONTAINER */

.container{
    width: 70%;
    margin: 30px auto;
}

.container h2{
    color: #1976d2;
    font-size: 45px;
    margin-bottom: 25px;
}

/* QR CARD */

.qr-card{
    background: white;
    border-radius: 8px;
    padding: 50px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.15);
}

.icone{
    font-size: 60px;
    color: #1976d2;
    margin-bottom: 15px;
}

.qr-card h3{
    font-size: 30px;
    margin-bottom: 15px;
}

.qr-card p{
    color: #666;
    margin-bottom: 25px;
}

.botoes{
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.botoes button{
    background: #1976d2;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.botoes button:hover{
    background: #0d47a1;
}

/* CARD VAZIO */

.vazio{
    background: white;
    margin-top: 30px;
    padding: 80px;
    border-radius: 8px;
    text-align: center;
    color: #888;
    box-shadow: 0 2px 5px rgba(0,0,0,0.15);
}

.icone-cinza{
    font-size: 70px;
    margin-bottom: 20px;
    color: #c5c5c5;
}

.vazio p{
    font-size: 28px;
}

/* PRODUTO */

.produto{
    display: none;
    background: white;
    margin-top: 30px;
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.15);
}

.topo-produto{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topo-produto h3{
    font-size: 32px;
}

.topo-produto span{
    color: #666;
    font-size: 18px;
}

.status{
    background: #2e7d32;
    color: white;
    padding: 10px 16px;
    border-radius: 20px;
    font-weight: bold;
}

.produto hr{
    margin: 25px 0;
    border: 1px solid #eee;
}

/* INFO */

.info{
    display: flex;
    gap: 80px;
    flex-wrap: wrap;
}

.coluna p{
    margin-bottom: 20px;
    line-height: 1.6;
}

/* QUALIDADE */

.produto h4{
    margin-bottom: 20px;
    font-size: 28px;
}

.qualidade{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.box{
    background: #f5f5f5;
    padding: 20px;
    border-radius: 8px;
    min-width: 250px;
}

.box span{
    color: #666;
}

.box h5{
    color: #2e7d32;
    font-size: 40px;
    margin: 10px 0;
}

.box small{
    color: #888;
}